.authButton {
    width: 180px;
    margin: 0;
    padding: 15px 10px;
    border-radius: 15px;
    font-size: 16px;
    border: solid 1px #E30071;
    background-color: transparent;
    color: #E30071;
    font-weight: bold;
}