.containerListSignUp {
    list-style-type: none;;
}

.signUpButton {
    width: 180px;
    margin: 0;
    padding: 15px 50px;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    background: linear-gradient(270deg, #BF00AE 0%, #E30071 100%);
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}